.image-slider {
  width: 100%;

  .slide {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
  }
 
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    justify-content: center;
    display: flex;

    .slide__overlay {
      margin-top: 8%;
      color: white;
      border-radius: 5px;
      white-space: pre-wrap;
      display: flex;
      flex-direction: column;
      width: 100%;

      &__category {
        background: rgba(0, 0, 0, 0.6);
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 8px;
        margin: 0 auto;
      }
 
      &__title {
        font-size: 36px;
        font-weight: bold;
        justify-content: center;
        display: flex;
        margin-top: 10px;
      }

      &__date {
        font-size: 12px;
        font-weight: 400;
        justify-content: center;
        display: flex;
        margin-top: 10px;
      }

      &__text {
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  .indicators-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    
    span {
      margin: 0 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: gray;
      cursor: pointer;
    
      &.active {
        background: white;
      }
    }
  }
}
