.post-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 310px);
  column-gap: 20px;
  row-gap: 30px;
  padding-bottom: 70px;
}

.title {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lora-Bold';
}

.sort-dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Lora-Regular';
  font-size: small;

  .dropdown-button {
    background-color: grey;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;

      button {
        font-family: 'Lora-Regular';
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: inherit;
        border: none;
        width: 100%;
        text-align: left;

        &:hover {
          background-color: #ddd;
        }
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
}
