@import '../../../style/variables/variables.scss';

.input {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    height: 50px;
    background-color: $color-input;
    padding: 0 20px;
    border: 1px solid $color-input;
    border-radius: 40px;
  }
  
  &__search {
    width: 350px;
    height: 50px;
    background-color: $color-input;
    font-size: 1.7rem;
    text-align: center;
    padding: 0 20px;
    border: 1px solid $color-input;
    box-sizing: border-box;
    outline: none;
  }
}
