.post-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 310px);
  column-gap: 20px;
  row-gap: 30px;
  padding-bottom: 70px;
}

.title {
  margin: 0;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 52px 0 22px;
}
