.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
} 

.post {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-bottom: 100px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  position: relative;

  .like-dislike-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post-header {
    padding: 20px;
    border-bottom: 1px solid #eee;
    color: #333;
    background-color: #f9f9f9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 8px;
    }

    p {
      color: #888;
      font-size: 0.9rem;
    }
  }

  p {
    padding: 20px;
    color: #666;
  }

  .read-more {
    display: block;
    text-decoration: none;
    color: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
      color: darkgrey;
    }
  }

  .like-button,
  .dislike-button {
    display: inline-block;
    margin: 10px;
    background-color: lightgrey;
    color: #fff;
    border: none;
    padding: 14px 14px;
    border-radius: 50px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;

    &:hover {
      background-color: grey;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .clicked {
    background-color: grey;
  }
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
