.header {
  background-color: #333;
  color: white;

  &__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__link {
    color: white;
    text-decoration: none;
  }
}
