@import '../../../style/mixins/phone.scss';
@import '../../../style/mixins/tablet.scss';
@import '../../../style/mixins/desktop.scss';
@import '../../../style/mixins/fonts.scss';

//Header variables:
$main-colour: white;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-family: 'Roboto-Bold', sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;

  &-links {
    display: flex;
    align-items: center;
    gap: 25px;

    &__link {
      text-decoration: none;
      color: $main-colour;
      font-weight: bold;
      position: relative;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &.activeLink::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #d4a373;
      }
    }
  }

  &--hidden {
    transform: translateY(-100%);
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      font-family: 'Spartan-Bold', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: $main-colour;
    }

    &__right {
      display: flex;

      @include phone {
        display: none;
      }
    }
  }

  .separator {
    background-color: $main-colour;
    margin-left: 17px;
    margin-right: 17px;
    color: $main-colour;
    width: 0.5px;
    height: 20px;
  }

  .profile-wrapper {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
  }

  .profile-icon {
    color: #ffffff;
  }

  .profile-menu {
    position: absolute;
    top: 10px;
    left: -90px;
    ul {
      width: 100px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: flex;
      background-color: white;
      border: 1px solid #ccc;
      list-style-type: none;
      padding: 10px;

      li {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
          font-family: 'Roboto-Regular';
          font-size: 13px;
          text-decoration: none;
          color: black;
          display: block;
          transition: font-weight 0.2s ease;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    &__icon {
      width: 15px;
      height: 15px;
    }
  }

  .burger {
    display: none;

    @include phone {
      display: block;
    }
  }
}
